.sg.contacto-tag {
    padding: 4px 8px;
    border: none;
    display: inline-block;

    .contacto-typography {
        color: inherit;
    }

    &--default {
        background-color: var(--primary-color-4);
        color: var(--primary-color);
    }

    &--success {
        background-color: var(--success-color-4);
        color: var(--success-color);
    }

    &--danger {
        background-color: var(--danger-color-4);
        color: var(--danger-color);
    }

    &--progress {
        background-color: var(--primary-color-3);
        color: var(--primary-color);
    }

    &--disabled {
        background-color: var(--gray-5);
        color: var(--secondary-text-color);
    }

    &--warning {
        background-color: var(--warning-color-4);
        color: var(--warning-color);
    }

    &--teamname {
        padding: 2px 8px;
        background-color: var(--gray-6);
        border-radius: 2px;
        align-items: center;
        gap: 10px;
        
        .contacto-typography {
            font-size: 10px;
            font-weight: 500;
            line-height: 16px;
            color: var(--gray-1);
        }
    }

    .tag-icon {
        margin-right: 4px;
    }

    &.compact {
        padding: 2px 4px 2px 2px;
        border-radius: 2px;
    }
}